# App
NODE_ENV=development
PORT=5000

# MongoDB
MONGODB_URI=mongodb://localhost:27017/kun-bookshop

# JWT
JWT_SECRET=generate_with_node_-e_console.log(require("crypto").randomBytes(64).toString("hex"))

# URLs
CLIENT_URL=http://localhost:3000
API_URL=http://localhost:5000