body { 
font-weight:normal;
font-family:serif;
font-size:1em;
text-align:left;
letter-spacing:0;
line-height:1.2em;
margin:0 1.5%;
orphans:2;
widows:2;
word-spacing:0; 
}
p.cover {
line-height:1.2em;
text-align:center;
text-indent:0em;
font-weight:normal;
font-style:normal;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}
p.abt {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-weight:normal;
font-style:normal;
margin-top:5em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}

p.disclaimer {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:5em;
margin-right:2em;
margin-bottom:0em;
margin-left:2em;
}

p.series-break {
font-family:serif;
font-size:95%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:bold;
margin-top:2em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
}
p.series-title {
font-family:serif;
font-size:160%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:bold;
margin-top:0.2em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
}

p.series {
font-family:serif;
font-size:85%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:0.5em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
}
p.series-s {
font-family:serif;
font-size:85%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:bold;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
}
p.also-break {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:left;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:3em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
}
p.also {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
}
p.also-spaced {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:left;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:1em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
}
p.title-title {
font-family:serif;
font-size:300%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:bold;
margin-top:1em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
}
p.title-title1 {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:bold;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
}
p.title-title2 {
font-family:serif;
font-size:300%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:bold;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
}
p.title-author {
font-family:serif;
font-size:200%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:0.2em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
color:#9b9b9b;
}
p.title-logo {
line-height:1.2em;
text-align:center;
text-indent:0em;
font-weight:normal;
font-style:normal;
margin-top:1.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}
p.publisher-logo {
line-height:1.2em;
text-align:center;
text-indent:0em;
font-weight:normal;
font-style:normal;
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}
p.cip-break {
font-family:serif;
font-size:80%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}
p.cip {
font-family:serif;
font-size:80%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}
p.cip-publisher {
font-family:serif;
font-size:80%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:15em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}

p.image {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}
p.praise-break {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:bold;
margin-top:3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}
p.praise {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}

p.prect {
font-family:serif;
font-size:140%;
line-height:1.2em;
text-align:left;
text-indent:0em;
font-style:normal;
font-weight:bold;
margin-top:3em;
margin-bottom:2.5em;
margin-left:0em;
margin-right:0em;
}

p.cau {
font-family:sans-serif;
font-size:90%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:0em;
margin-bottom:5em;
margin-left:0em;
margin-right:0em;
}
p.contents-pt {
font-family:serif;
line-height:1.2em;
font-size:100%;
text-align:left;
font-weight:bold;
font-style:normal;
text-indent:-1.5em;
margin-top:1em;
margin-right:0em;
margin-bottom:0em;
margin-left:1.5em;
}

p.contents-ct {
font-family:serif;
line-height:1.2em;
font-size:100%;
text-align:left;
font-weight:normal;
font-style:normal;
text-indent:-1.5em;
margin-top:0.2em;
margin-right:0em;
margin-bottom:0em;
margin-left:1.5em;
}
p.contents-prect {
font-family:serif;
line-height:1.2em;
font-size:100%;
text-align:left;
font-weight:normal;
font-style:normal;
text-indent:0em;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
}

p.dedication-break {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:8em;
margin-bottom:0em;
margin-left:3em;
margin-right:3em;
}

p.dedication {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:normal;
margin-top:1em;
margin-bottom:0em;
margin-left:3em;
margin-right:3em;
}

p.pn {
font-family:serif;
font-size:150%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:italic;
font-weight:bold;
margin-top:5em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
}
p.ch-image {
line-height:1.2em;
text-align:right;
text-indent:0em;
font-weight:normal;
font-style:normal;
margin-top:12em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}

p.pt {
font-family:serif;
font-size:150%;
line-height:1.2em;
text-align:center;
text-indent:0em;
font-style:normal;
font-weight:bold;
margin-top:0.5em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
}

p.ct {
font-family:serif;
font-size:150%;
line-height:1.2em;
text-align:left;
text-indent:0em;
font-style:normal;
font-weight:bold;
margin-top:3em;
margin-right:0em;
margin-bottom:2em;
margin-left:0em;
}

p.cta {
font-family:sans-serif;
font-size:180%;
line-height:1.2em;
text-align:left;
text-indent:0em;
font-style:normal;
font-weight:bold;
margin-top:3em;
margin-right:0em;
margin-bottom:2em;
margin-left:0em;
}

p.source-spaced {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:right;
text-indent:0em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}
p.astbreak {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}
p.text-center {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:2em;
margin-right:2em;
font-weight:normal;
font-style:normal;
}
p.co {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
padding-top:5em;
font-weight:normal;
font-style:normal;
}
p.ftxt {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.left1 {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:left;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.ftxt-break {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.txt-break {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:1.5em;
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.contrib {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}
p.poem-t {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:left;
text-indent:0em;
margin-top:1em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:1.5em;
font-weight:normal;
font-style:normal;
}


p.list-break {
font-family:sans-serif;
font-size:90%;
line-height:1.2em;
text-align:left;
text-indent:-1.5em;
margin-top:2em;
margin-bottom:0em;
margin-left:3.1em;
margin-right:1.5em;
font-weight:normal;
font-style:normal;
}
p.list {
font-family:sans-serif;
font-size:90%;
line-height:1.2em;
text-align:left;
text-indent:-1.5em;
margin-top:0em;
margin-bottom:0em;
margin-left:3.1em;
margin-right:1.5em;
font-weight:normal;
font-style:normal;
}

p.poem {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:left;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:1.5em;
font-weight:normal;
font-style:normal;
}

p.poem-b {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:left;
text-indent:0em;
margin-top:0em;
margin-bottom:1em;
margin-left:1.5em;
margin-right:1.5em;
font-weight:normal;
font-style:normal;
}

p.bib {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:-1.5em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}
p.bibh {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:bold;
font-style:normal;
}

p.center {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.ftxt-spaced {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:1em;
margin-right:0em;
margin-bottom:0em;
margin-left:0em;
font-weight:normal;
font-style:normal;
}
p.txt {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:1.5em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}
p.ahd {
font-family:serif;
font-size:120%;
line-height:1.2em;
text-align:left;
text-indent:0em;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
font-weight:bold;
font-style:normal;
}

p.ahd-below {
font-family:serif;
font-size:120%;
line-height:1.2em;
text-align:left;
text-indent:0em;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:italic;
}

p.noteh-below {
font-family:serif;
font-size:85%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:bold;
font-style:normal;
}
p.noteh {
font-family:serif;
font-size:85%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.page {
font-family:serif;
font-size:85%;
line-height:1.2em;
text-align:left;
text-indent:0em;
margin-top:0em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.endnote {
font-family:serif;
font-size:80%;
line-height:1.2em;
text-align:justify;
text-indent:-3em;
margin-top:0em;
margin-bottom:0em;
margin-left:3em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.ex_alone {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:1em;
margin-right:1.5em;
margin-bottom:1em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}

p.ex-t {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:1em;
margin-right:1.5em;
margin-bottom:0em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}
p.ex {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:1.5em;
margin-top:0em;
margin-right:1.5em;
margin-bottom:0em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}
p.ex-b {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:0em;
margin-right:1.5em;
margin-bottom:1em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}

p.epi-break {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:8em;
margin-right:1.5em;
margin-bottom:0em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}

p.epi {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0em;
margin-right:1.5em;
margin-bottom:0em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}

p.epi-s {
font-family:sans-serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0.2em;
margin-right:1.5em;
margin-bottom:0em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}

p.fext {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:left;
text-indent:0em;
margin-top:1em;
margin-right:1.5em;
margin-bottom:0em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}
p.fext-spaced {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:left;
text-indent:0em;
margin-top:1em;
margin-right:1.5em;
margin-bottom:0em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}

p.fext-break {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:left;
text-indent:0em;
margin-top:2em;
margin-right:1.5em;
margin-bottom:0em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}

p.quote {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:1em;
margin-right:1.5em;
margin-bottom:1em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}

p.bl {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-indent:-1.5em;
text-align:justify;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:3em;
font-weight:normal;
font-style:normal;
}
p.bl1 {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-indent:-1em;
text-align:justify;
margin-top:0.2em;
margin-right:0em;
margin-bottom:0em;
margin-left:3.5em;
font-weight:normal;
font-style:normal;
}
p.nl {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-indent:-1.5em;
text-align:justify;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:3em;
font-weight:normal;
font-style:normal;
}

p.list {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-indent:0em;
text-align:justify;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}

p.al {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-indent:-2em;
text-align:justify;
margin-top:0.5em;
margin-right:0em;
margin-bottom:0em;
margin-left:2em;
font-weight:normal;
font-style:normal;
}
p.al2 {
font-family:serif;
font-size:90%;
line-height:1.2em;
text-indent:-2em;
text-align:justify;
margin-top:0.5em;
margin-right:0em;
margin-bottom:0em;
margin-left:5.5em;
font-weight:normal;
font-style:normal;
}
p.unl {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-indent:-1.5em;
text-align:justify;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}
p.inds {
font-family:serif;
line-height:1.2em;
font-size:90%;
text-indent:-1em;
text-align:left;
font-weight:normal;
font-style:normal;
margin-top:1em;
margin-right:0em;
margin-bottom:0em;
margin-left:1em;
}
p.ind {
font-family:serif;
line-height:1.2em;
font-size:90%;
text-indent:-1em;
text-align:left;
font-weight:normal;
font-style:normal;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:1em;
}
p.ind1 {
font-family:serif;
line-height:1.2em;
font-size:90%;
text-align:left;
font-weight:normal;
font-style:normal;
text-indent:-1em;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:2em;
}
p.ind2 {
font-family:serif;
line-height:1.2em;
font-size:90%;
text-align:left;
font-weight:normal;
font-style:normal;
text-indent:-1em;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:3em;
}
table {
border-collapse:collapse;
width:100%;
margin-left:1.5em;
margin-right:0em;
margin-bottom:1em;
margin-top:1em;
page-break-before:avoid;
}
table.indent {
border-collapse:collapse;
width:100%;
margin-left:1.5em;
margin-right:0em;
margin-bottom:1em;
margin-top:1em;
page-break-before:avoid;
}
td.no-rule {
font-family:serif;
text-indent:0em;
line-height:1.2em;
font-style:normal;
font-weight:normal;
vertical-align:top;
padding-top:0.2em;
padding-right:0.2em;
padding-bottom:0.2em;
padding-left:0.2em;
margin-top:0.2em;
margin-right:0.2em;
margin-bottom:0.2em;
margin-left:0.2em;
}
p.halfline {
margin-top:0.2em;
}
p.linespace {
margin-top:1em;
}
p.linespace1 {
margin-top:2em;
}
span.bold {
font-weight:bold;
font-style:normal;
}
span.Bold {
font-weight:bold;
font-style:normal;
}
span.italic {
font-weight:normal;
font-style:italic;
}
span.Italic {
font-weight:normal;
font-style:italic;
}
span.bullet {
display:inline-block;
text-indent:0em;
white-space:pre-wrap;
width:1em;
}
span.numblock
{
display:inline-block;
text-indent:0em;
white-space:pre-wrap;
width:1.5em;
}

span.enblock
{
display:inline-block;
text-indent:0em;
white-space:pre-wrap;
width:3em;
}

span.alphablock
{
display:inline-block;
text-indent:0em;
white-space:pre-wrap;
width:2em;
}
span.bulletblock
{
display:inline-block;
text-indent:0em;
white-space:pre-wrap;
width:1.5em;
}
span.unblock
{
display:inline-block;
text-indent:0em;
white-space:pre-wrap;
width:1.5em;
}
span.romanblock
{
display:inline-block;
text-indent:0em;
white-space:pre-wrap;
width:2em;
}
span.conblock
{
display:inline-block;
text-indent:0em;
white-space:pre-wrap;
width:1.5em;
}
span.smallcaps {
font-size:75%;
line-height:1.2em; }

span.Small Caps {
font-size:75%;
line-height:1.2em; }
span.bolditalic {
font-weight:bold;
font-style:italic;
}
span.underline {
text-decoration:underline;
}
span.strike {
text-decoration:line-through;
}
span.superscript {
font-size:70%;
line-height:0.70em;
vertical-align:super;
}
p.subscript {
font-size:75%;
vertical-align:-.2em;
}
sub {
font-size:75%;
vertical-align:-.2em;
}
sup {
font-size:70%;
line-height:0.70em;
vertical-align:super;
}
span.raisedcap {
font-family:sans-serif;
font-size:2em;
margin-top:-0.1em;
margin-right:0.05em;
margin-bottom:-0.1em;
margin-left:0em;
}
span.dropcaps {
float:left;
letter-spacing:0;
font-size:3.5em;
padding-right:0.1em;
font-family:serif;
font-weight:normal;
display:block;
line-height:110%;
margin-top:-.190em;
margin-bottom:-.5em;
}

a {
text-decoration:none;
}
sup.footnote {
font-size:70%;
line-height:0.70em;
vertical-align:super;
}
p.ind a, p.inds a, p.ind1 a, p.ind2 a, p.ind3 a {
text-decoration:none;
}
p.pbreak {
page-break-before:always;
}
span.fsc {
font-size:75%;
line-height:1.2em; }
p.linebreak {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}
p.a-cover {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0.8em;
margin-bottom:0.8em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.cover-break {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:3em;
margin-bottom:0.8em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.a-cover-magnet {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.a-break {
font-family:serif;
font-size:150%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}
p.a-center {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.a-center-spaced {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.a-ornament {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:1em;
margin-bottom:1em;
margin-left:2em;
margin-right:2em;
font-weight:normal;
font-style:normal;
}
p.a-image {
font-family:serif;
font-size:80%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}
p.advert-break {
font-family:serif;
font-size:80%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}
p.advert-center {
font-family:serif;
font-size:80%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

div.box {
text-align:center;
text-indent:0em;
font-weight:normal;
font-style:normal;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
padding:1.5em;
border:2px dotted;
page-break-before:always;
}

p.boxh {
font-family:serif;
font-size:135%;
line-height:1.2em;
text-align:center;
text-indent:0em;
margin-top:0em;
margin-bottom:0.5em;
margin-left:0em;
margin-right:0em;
font-weight:bold;
font-style:normal;
}
p.box-ftxt {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}
p.box-txt {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:1.5em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}
p.box-a {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:left;
text-indent:0em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
font-weight:bold;
font-style:normal;
}
p.box-first {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:left;
text-indent:0em;
margin-top:1em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}
p.box-middle {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:left;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}
p.box-last {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:left;
text-indent:0em;
margin-top:0em;
margin-bottom:1em;
margin-left:1.5em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}
p.box-ex-alone {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:left;
text-indent:0em;
margin-top:1em;
margin-bottom:1em;
margin-left:1.5em;
margin-right:1em;
font-weight:normal;
font-style:normal;
}
p.box-bullet-first {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-indent:-1.5em;
text-align:justify;
margin-top:1em;
margin-right:0em;
margin-bottom:0em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}
p.box-bullet-middle {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-indent:-1.5em;
text-align:justify;
margin-top:0em;
margin-right:0em;
margin-bottom:0em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}
p.box-bullet-last {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-indent:-1.5em;
text-align:justify;
margin-top:0em;
margin-right:0em;
margin-bottom:1em;
margin-left:1.5em;
font-weight:normal;
font-style:normal;
}
img {
max-width:100%;
max-height:100%;
}
p.let {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:1.5em;
font-weight:normal;
font-style:normal;
}

p.let-s {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:right;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
font-weight:normal;
font-style:normal;
}

p.let1 {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:1.5em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:1.5em;
font-weight:normal;
font-style:normal;
}
span.sans
{
font-family:sans-serif;
font-weight:bold;
}
p.coftxt {
font-family:serif;
font-size:100%;
line-height:1.2em;
text-align:justify;
text-indent:0em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
padding-top:0em;
font-weight:normal;
font-style:normal;
}
